<!DOCTYPE html>
<html>
<head>
	<title>微信js分享接口</title>
	<meta name="viewpoint" content="initial-scale=1.0;width=device-width" charset="utf-8"/>
	<meta http-equiv="content" content="text/html;charset=utf-8"/>
	<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
	<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
</head>
<body>
	<!--{$name}-->
	<script>
	//alert(location.href.split('#')[0]);
	wx.config({
	    debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
	    appId: 'wxe4c13a7af1b86b1e', // 必填，公众号的唯一标识
	    timestamp:'{$timestamp}' , // 必填，生成签名的时间戳
	    nonceStr: '{$nonceStr}', // 必填，生成签名的随机串
	    signature: '{$signature}',// 必填，签名，见附录1
	    jsApiList: [
	    	'onMenuShareTimeline',
	    	'onMenuShareAppMessage',
	    	'chooseImage',
	    	'previewImage',
	    	'uploadImage',
	    	'downloadImage',
	    	'scanQRCode',
	    	'startRecord',
	    	'stopRecord',
	    	'onVoiceRecordEnd',
	    	'playVoice',
	    	'pauseVoice',
	    	'stopVoice',
	    	'onVoicePlayEnd',
	    	'uploadVoice',
	    	'downloadVoice',
	    	'translateVoice',
	    ] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
	});

	wx.ready(function(){
		//分享到朋友圈
		wx.onMenuShareTimeline({
		    title: 'test', // 分享标题
		    link: 'www.wwfd.club/index/wetest/shareWx', // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
		    imgUrl: 'https://ss0.bdstatic.com/5aV1bjqh_Q23odCf/static/superman/img/logo/bd_logo1_31bdc765.png', // 分享图标
		    success: function () { 
		    	alert('分享成功！');
		        // 用户确认分享后执行的回调函数
		    },
		    cancel: function () { 
		    	alert('分享失败，请重新分享！');
		        // 用户取消分享后执行的回调函数
		    }
		});
		//分享给朋友
		wx.onMenuShareAppMessage({
		    title: 'test1', // 分享标题
		    desc: 'test1 share', // 分享描述
		    link: 'www.wwfd.club/index/wetest/shareWx', // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
		    imgUrl: 'https://ss0.bdstatic.com/5aV1bjqh_Q23odCf/static/superman/img/logo/bd_logo1_31bdc765.png', // 分享图标
		    type: '', // 分享类型,music、video或link，不填默认为link
		    dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
		    success: function () { 
		    	alert('分享成功！');
		        // 用户确认分享后执行的回调函数
		    },
		    cancel: function () { 
		    	alert('分享失败，请重新分享！');
		        // 用户取消分享后执行的回调函数
		    }
		});

		//监听录音自动停止接口
		wx.onVoiceRecordEnd({
		    // 录音时间超过一分钟没有停止的时候会执行 complete 回调
		    complete: function (res) {
		        var localId = res.localId; 
		    }
		});

		//监听语音播放完毕接口
		wx.onVoicePlayEnd({
		    success: function (res) {
		        var localId = res.localId; // 返回音频的本地ID
		    }
		});
	});

	//拍照或从手机相册中选图接口
	function chooseImage(callback){
		wx.chooseImage({
		    count: 1, // 默认9
		    sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
		    sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
		    success: function (res) {
		        localIds = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
		        callback();
		    }
		});
	}

	//预览图片接口
	function previewImage(){
		wx.previewImage({
		    current: 'http://www.wwfd.club/static/image/1503415637.png', // 当前显示图片的http链接
		    urls: [
		    	'http://www.wwfd.club/static/image/1503414081.png',
		    	'http://www.wwfd.club/static/image/1503414386.png',
		    	'http://www.wwfd.club/static/image/1503414389.png',
		    	'http://www.wwfd.club/static/image/1503414454.png',
		    ] // 需要预览的图片http链接列表
		});
	}

	//上传图片接口
	function uploadImage(){
		//chooseImage();
		wx.uploadImage({
		    localId: localIds.toString(), // 需要上传的图片的本地ID，由chooseImage接口获得
		    isShowProgressTips: 1, // 默认为1，显示进度提示
		    success: function (res) {
		        var serverId = res.serverId.toString(); // 返回图片的服务器端ID
		        $.post('http://www.wwfd.club/index/wetest/setserverid',{'serverId':serverId},function(data){
		        	if (data=='100') {
		        		alert('上传成功!');
		        	}else{
		        		alert(data);
		        	}
		        });
		    }
		});			
	}

	function upload(uploadImage){

	}

	//下载图片接口
	function downloadImage(){
		chooseImage();
		wx.uploadImage({
		    localId: localIds.toString(), // 需要上传的图片的本地ID，由chooseImage接口获得
		    isShowProgressTips: 1, // 默认为1，显示进度提示
		    success: function (res) {
		        serverId = res.serverId.toString(); // 返回图片的服务器端ID
		    }
		});	
		wx.downloadImage({
		    serverId: 'serverId', // 需要下载的图片的服务器端ID，由uploadImage接口获得
		    isShowProgressTips: 1, // 默认为1，显示进度提示
		    success: function (res) {
		        var localId = res.localId; // 返回图片下载后的本地ID
		    }
		});
	}


	//扫一扫
	function scan(){
		wx.scanQRCode({
		    needResult: 0, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
		    scanType: ["qrCode","barCode"], // 可以指定扫二维码还是一维码，默认二者都有
		    success: function (res) {
		    var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果
		}
		});
	}

	//开始录音接口
	function startRecord(){
		wx.startRecord();
	}

	//停止录音
	function stopRecord(){
		wx.stopRecord({
		    success: function (res) {
		        localId = res.localId;
		        //return localId;
		    }
		});
	}

	//播放语音接口
	function playVoice(){
		wx.playVoice({
		    localId: localId // 需要播放的音频的本地ID，由stopRecord接口获得
		});
	}

	//暂停播放接口
	function pauseVoice(){
		wx.pauseVoice({
		    localId: localId.toString() // 需要暂停的音频的本地ID，由stopRecord接口获得
		});
	}

	//停止播放接口
	function stopVoice(){
		wx.stopVoice({
		    localId: localId.toString() // 需要停止的音频的本地ID，由stopRecord接口获得
		});
	}

	//上传语音接口
	function uploadVoice(){
		wx.uploadVoice({
		    localId: localId.toString(), // 需要上传的音频的本地ID，由stopRecord接口获得
		    isShowProgressTips: 1, // 默认为1，显示进度提示
		        success: function (res) {
		        var serverId = res.serverId; // 返回音频的服务器端ID
		    }
		});
	}

	//下载语音接口
	function downloadVoice(){
		wx.downloadVoice({
		    serverId: '', // 需要下载的音频的服务器端ID，由uploadVoice接口获得
		    isShowProgressTips: 1, // 默认为1，显示进度提示
		    success: function (res) {
		        var localId = res.localId; // 返回音频的本地ID
		    }
		});
	}

	//智能识别语音接口
	function translateVoice(){
		wx.translateVoice({
		   localId: localId, // 需要识别的音频的本地Id，由录音相关接口获得
		    isShowProgressTips: 1, // 默认为1，显示进度提示
		    success: function (res) {
		        alert(res.translateResult); // 语音识别的结果
		    }
		});
	}

	wx.error(function(res){
 
	});
	</script>
	<button onclick='previewImage();'>预览图片</button>
	<button onclick='chooseImage(uploadImage);'>上传图片</button><br>	
	<button onclick='downloadImage();'>下载图片</button>
	<button onclick='scan();'>扫&nbsp;一&nbsp;&nbsp;扫</button><br>
	<button onclick='startRecord();'>开始录音</button>
	<button onclick='stopRecord();'>停止录音</button><br>
	<button onclick='playVoice();'>播放录音</button>
	<button onclick='pauseVoice();'>暂停播放</button><br>
	<button onclick='stopVoice();'>停止播放</button>
	<button onclick='uploadVoice();'>上传语音</button><br>
	<button onclick='downloadVoice();'>下载语音</button>
	<button onclick='translateVoice();'>智能识别</button><br>
</body>
</html>